.text {
    font-family: "Open-Sans" sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    font-weight: 300;
    font-style: italic;
}

.text1 {
    font-family: "Open-Sans" sans-serif;
    text-decoration: line-through;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
}

.text2 {
    font-family: "Open-Sans" sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-indent: 40px;
    
}

.text3 {
    font-family: "Open-Sans" sans-serif;
    word-spacing: 30px;
    color: blueviolet;
    text-decoration:overline wavy;
    


}

.text4 {
    font-family: "Open-Sans" sans-serif;
    letter-spacing: 5px;
    text-decoration:double underline;
}