.container {
    background: grey;
    max-width: 1920px;
    max-height: 1080px;
    height: 100%;
    overflow: scroll;
}

.text {
    font-size: 32px;
}

.comment {
    border: 1px;
    background: white;
    min-height: 100px;
    width: 800px;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    bottom: 10px;
    margin-right: 50px;
    margin-bottom: 100px;
}

#circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    left: 15%;
    top: -50px;
}