body {
    background: rgb(63, 62, 62);
}




.title {
    color: #fff;
    font-size: large;
    transform: scale(7);
    margin-top: 10%;
    left: 50%;
    position: absolute;
}
.title::before {
    content:'' ;
    display: block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    border: 1px solid;
    position: relative;
    transform: translate(-25px,15px);
}
.title::after {
    content:'' ;
    display: block;
    width: 10px;
    height: 10px;
    background: rgb(76, 0, 255);
    border-radius: 50%;
    border: 1px solid;
    position: relative;
    transform: translate(90px,-13px);
}
